body {
    font-family: 'Roboto';
    font-style: normal;
}

#texts {
    width: 100%;
}

#text_doc, #text_cap {
    display: inline-block;
    height: 10%;
    resize: none;
    width: 50%;
}

#text_cap {
    position: absolute;
    right: 0;
}

#html_doc, #html_cap {
    background-color: rgb(130, 173, 211);
    display: inline-block;
    width: 50%;
    height: 80%;
    overflow: scroll;
}

#html_cap {
    position: absolute;
    right: 0;
}

#inputs {
    width: 100%;
}

#pattern {
    width: 100%;
}

i {
    vertical-align: middle;
}

.json-diver-list::before {
    content: '[ ';
    font-size: 1.3em;
    font-weight: bolder;
}
.json-diver-list::after {
    content: ' ]';
    font-size: 1.3em;
    font-weight: bolder;
}

.json-diver-list > div {
    margin-left: 10px;
}

.json-diver-object::before {
    content: '{ ';
    font-size: 1.3em;
    font-weight: bolder;
}
.json-diver-object::after {
    content: ' }';
    font-size: 1.3em;
    font-weight: bolder;
}
.json-diver-object > div {
    margin-left: 10px;
}

.json-diver-pair {
    border-left: 1px solid;
    padding-bottom: 5px;
    margin-left: 0.5em;
    padding-left: 0.5em;
}

.json-diver-key, .json-diver-value {
    display: inline-block;
    vertical-align: middle;
}

.json-diver-key {
    background-color: #ededed;
    padding: 0.5em;
}

.json-diver-value {
    padding-left: 10px;
}

.json-diver-hidden {
    display: none;
}

.json-diver-active {
    background-color: red;
}